kbd{
	border: 1px solid red;
	width: 2em;
	height: 2em;
	display: inline-block;
	text-transform: uppercase;
}
main >div{
	margin-bottom: 3px;
}
main > div:nth-child(2){
	margin-left: 1em;
}
main >div:nth-child(3){
	margin-left: 2em;
}
